includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 9
    paths:
        - src
    tmpDir: build/phpstan
    ignoreErrors:
        -
            message: '#Access to an undefined property Corcel\\Model\\Post[a-zA-Z0-9::a-zA-Z]#'
        -
            message: '#Function get_field not found.#'
        -
            identifier: function.impossibleType
            path: src/Traits/HasMeta.php
            count: 3
        -
            message: '#Method Yard\\Data\\CommentData::fromComment\(\) should return static\(Yard\\Data\\CommentData\) but returns Yard\\Data\\CommentData.#'
            path: src/CommentData.php
            count: 1
        -
            message: '#Method Yard\\Data\\PostData::fromPost\(\) should return static\(Yard\\Data\\PostData\) but returns Yard\\Data\\PostData.#'
            path: src/PostData.php
            count: 1
        -
            message: '#Method Yard\\Data\\PostData::fromCorcel\(\) should return static\(Yard\\Data\\PostData\) but returns Yard\\Data\\PostData.#'
            path: src/PostData.php
            count: 1
